<div id="<%= dom_id list %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= list.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this list", list, class: "btn btn-outline-secondary" %>
    <%# <%= link_to "Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>

    <hr class="mt-6">
  <% end %>
</div>
