<div class="cover container">
  <h1 class="font-bold text-4xl">My Movie Lists</h1>
</div>

<div class="container">
  <div class="list-container">

    <div class="list-card">
      <div>
        <%= render @lists %>
      </div>

    </div>
  </div>

  <%= link_to 'Add a new list', new_list_path, class: "btn btn-primary" %>
</div>
